
h1 {
    color: red;
    font:italic;
    
}

body {
    background-color: darkviolet;
}

.box {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height:100px;
    border-radius: 20px 20px 20px 20px;
    display:flex;
    justify-content: center;
    align-items: center;


}

.card {
    background-color: rgb(250, 250, 250);
}


.card2 {
    background-color: rgb(55, 175, 255);
    width: 200px;
    border-radius: 20px 20px 20px 20px  ;
}


.design {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(238, 0, 255);
    border-radius: 20%;
}

.design img {
    width: 200px;
    border-radius: 20px;

}

.text-box {
    max-width: 400px;
}


.banner {
    text-align: center;
    padding: 70px 20px;
    background-color: aqua;
    border-color: blue;

}

.big-btn {
    color: darkblue;
    background-color: blueviolet;
}